<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tailwind CSS CDN</title>
</head>
<body>


  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">

    <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://img.freepik.com/free-vector/group-college-university-students-hanging-out_74855-5251.jpg?w=1380&t=st=1686654932~exp=1686655532~hmac=0d2b1861516a29c66be7b5e00dec026cf56ff57aa030bad637f0c0a26461e38b" alt="River">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Students</div>
        <p class="text-gray-700 text-base">
          Our Students and their characteristics.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#name</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#neptun</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#sumcredit</span>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://img.freepik.com/free-vector/set-school-subjects_1284-61738.jpg?w=1800&t=st=1686655236~exp=1686655836~hmac=dfe853d1958640ea237cee9895e0637ad277c3bd5389331f530f6ea3016127aa" alt="River">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Subjects</div>
        <p class="text-gray-700 text-base">
            Our Subjects and their characteristics.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#name</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#neptun</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#credit</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#exam</span>
      </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?t=st=1686654997~exp=1686655597~hmac=c5fda183e39304f4f97e96a419e7aac0c3a9db1685656f292525735975e2ecf7" alt="Teacher">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Teachers</div>
        <p class="text-gray-700 text-base">
            Our Teachers and their characteristics.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#name</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#neptun</span>
      </div>
    </div>
  </div>


</body>
</html>