<h1>Add Student-Subject connection</h1>
<mat-form-field appearance="outline">
    <mat-label>Student</mat-label>
    <mat-select [(ngModel)]="selectedStudentIdToAdd">
        <mat-option *ngFor="let student of students" [value]="student.id">
        {{ student.name }} - {{ student.neptun }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Subject</mat-label>
    <mat-select [(ngModel)]="selectedSubjectIdToAdd">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.name }} - {{ subject.neptun }}
        </mat-option>
    </mat-select>
</mat-form-field>

<button
    mat-flat-button
    color="accent"
    (click)="addConnection()"
>    
    Add connection
</button>

<mat-divider></mat-divider>


<h1>Remove Student-Subject connection</h1>

<mat-form-field appearance="outline">
    <mat-label>Student</mat-label>
    <mat-select [(ngModel)]="selectedStudentIdToRemove">
        <mat-option *ngFor="let student of students" [value]="student.id">
        {{ student.name }} - {{ student.neptun }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Subject</mat-label>
    <mat-select [(ngModel)]="selectedSubjectIdToRemove">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.name }} - {{ subject.neptun }}
        </mat-option>
    </mat-select>
</mat-form-field>

<button
    mat-flat-button
    color="warn"
    (click)="removeConnection()"
>    
    Remove connection
</button>