<h1>Update student</h1>

<mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput
        [(ngModel)]="this.student.name">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Name of the student</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Neptun code</mat-label>
    <input matInput [formControl]="neptunFormControl" [(ngModel)]="this.student.neptun">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Neptun code of the teacher</mat-hint>
    <mat-error *ngIf="neptunFormControl.hasError('required')">Neptun is required</mat-error>
    <mat-error *ngIf="neptunFormControl.hasError('minlength')">Neptun must be 6 characters long</mat-error>
    <mat-error *ngIf="neptunFormControl.hasError('maxlength')">Neptun must be 6 characters long</mat-error>
  </mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input matInput
        disabled
        [(ngModel)]="this.student.id">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>ID of the student</mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Image</mat-label>
    <input matInput
        [(ngModel)]="this.student.image">
    <mat-icon matSuffix>text_fields</mat-icon>
    <mat-hint>Image link of the student</mat-hint>
</mat-form-field>

<button
    mat-flat-button
    color="accent"
    (click)="updateStudent()"
>    
    Update student
</button>

<mat-divider></mat-divider>

<mat-checkbox
    [(ngModel)]="this.deleteDisabled"
>
    Delete disabled
</mat-checkbox>

<button
    mat-flat-button
    color="warn"
    [disabled]="this.deleteDisabled"
    (click)="deleteStudent(this.student.id)"
>    
    Delete student
</button>